.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video{
  width: 480px;
  height: 360px;
  background-color: #333;
  margin-top: 12px;
}

.control{
  margin-top: 30px;
}

.control .btn{
  padding: 4px 16px;
  margin: 0 16px;
  font-size: 1.4rem;
}